.chat{
    min-height:100vh;
    background:linear-gradient(#38a8e0,#70b9d8);
    display:flex;
    place-items:center;
    justify-content: center;
    align-items: center;
}
.chat-container{
    width:95%;
    height:75vh;
    max-width:1000px;
    background-color: aliceblue;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
}